<?php

/* Dashboard CSS */
$theme = 'static/css/lightmode.css';

/* Dashboard title */
$nagios_title = 'Nagios Monitoring System';

/* Custom message */
$display_dashboard_message = FALSE;
$dashboard_message = "My custom message goes here";

/* Set cgi.cfg location IMPORTANT */
$nagios_cgi_ini='/usr/local/nagios/etc/cgi.cfg';

/* Enable fortune output */
$enableFortune = false;
$fortunePath = "/usr/games/fortune";

/* Refresh time in seconds */
$refresh = 120;
$statusFileTimeout = 120;

/* display host information */
$display_host_table_output = TRUE;
$display_host_failure_duration = FALSE;
$display_host_ip = FALSE;

/* display service information */
$display_service_attempts = FALSE;
$display_service_failure_duration = FALSE;
$display_service_unknown = FALSE;
$display_service_warning = TRUE;
$display_service_critical = TRUE;

/* display other information */
$display_time_and_day = TRUE;
$display_notifications = FALSE;
$display_acknowledged = TRUE;
$display_pending = TRUE;
