<?php

/* Dashboard CSS */
$theme = 'static/css/lightmode.css';

/* Dashboard title */
$nagios_title = 'Nagios Monitoring System';

/* Set cgi.cfg location */
$nagios_cgi_ini='/usr/local/nagios/etc/cgi.cfg';

/* Refresh time in seconds */
$refresh = 60;
$statusFileTimeout = 60;

/* display host information */
$display_host_table_output = TRUE;
$display_host_failure_duration = FALSE;
$display_host_ip = FALSE;

/* display service information */
$display_service_table_output = FALSE;

$display_service_attempts = FALSE;
$display_service_failure_duration = FALSE;
$display_service_unknown = FALSE;
$display_service_warning = TRUE;
$display_service_critical = TRUE;

/* display other information */
$display_time_and_day = TRUE;
