* {
    padding: 0px;
    margin: 0px;
}

html, body { height: 99%; }

body { 
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    background-color: #000000;
    font-size: 14px;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-spacing: 2px;
    white-space: nowrap;
}

th, td { padding: 2px 10px; }
th, td.hostname, td.address { background-color: #d3d3d3; }

.output { 
    white-space: normal;
    text-align: left;
}

.subhosts { 
    margin: 2px;
    padding: 1px;
    font-size: 12px;
    text-align: left;
}

h1 {
    font-weight: bold;
    color: #ffffff;
}

h2.title {
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 1.2em;
}

h3.title {
    text-align: left;
    font-weight: bold;
    padding: 10px 2px 0px 2px;
    font-size: 12px;
    color: #ffffff;
}

#content {
    height: auto;
    margin: 10px;
    margin-top:1%;
}

.section {
    color: #ffffff;
    font-weight: bold;
    overflow: auto;
    padding: 20px 2px 0px 2px;
    margin-top: 10px;
}

.subsection { font-size: 12px; }

.stats {
    float: right;
    margin-top: -2em;
}

.stat {
    display: inline;
    padding: 3px;
    margin-left: 10px;
}

div.state {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px 2px 3px 2px;
    padding: 3px;
}

.up, .ok { background-color: green; }
.warning { background-color: yellow; color:black; }
.critical, .down { background-color: red; }
.pending { background-color: #488acf; }
.unknown { background-color: #00ffff; }
.notification { background-color: #69b3b3; }
.acknowledged { background-color: #d3d3d3; }
.unreachable { background-color: orange; }

.fortune {
    margin-top: 10px;
    color: #ffffff;
}

.statusFileState {
    color: #ffffff;
    max-width:420px;
}

.statusFileStateOK{
    background-image: linear-gradient(to right, green,rgba(255,0,0,0));
}
.statusFileStateCRITICAL{
    background-image: linear-gradient(to right, red,rgba(255,0,0,0));
}

.top-left-header{
    text-align: left;
    color:white;
    padding-top:10px;
    padding-left:10px;
    width:50%;
    float:left;
}
.top-right-header a{
    text-decoration: none;
    color:white;
}
.top-right-header{
    width:50%;
    text-align: right;
    float:right;
    padding-right:10px;
}
.display_hostgroups {
    color:white;
}
.display_hostgroups a {
    color:white;
    text-decoration: none;
}

.top-left-header h1{
    font-size:1.4em;
}

.top{
    padding:5px;
    overflow:hidden;
}
#timer{
    color:white;
    text-align:right;
    font-size:25px;
    margin-top:-43px;
    margin-bottom: -12px;
}

#custom_message{
    background-color:#ffeb3b;
    padding:15px;
    color:black;
    width:100%;
    margin:auto;
}
