@import url('default.css');

/* dashboard background */
body { background-color: #eef8fd; }

div.state { color: #ffffff; }
th, td.address { background-color: #000051; color:white; }
td.hostname {background-color:#9090db;text-align: left;}
h1 { color: black; }
h3.title { color: black; }
.section { color: black; }
.up { background-color: #96CD90; color:black; }
.ok { background-color: #96CD90; color:black; }
.warning { background-color: #BAE3F6; color:black; }
.critical, .down { background-color:  #e09db1; color:black; }
.pending { background-color: #488acf; }
.unknown { background-color: #DFF4FF; color:black; }
.notification { background-color: #69b3b3; }
.acknowledged { background-color: #d3d3d3; }
.unreachable { background-color: orange; }
.fortune { color: black; }
.statusFileState { color: black; }
.top-left-header{ color:black; }
#timer{ color:black; }
