* {
    padding: 0px;
    margin: 0px;
}

html, body { height: 99%; }

body { 
    font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
    background-color: #eef8fd;
    font-size: 14px;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-spacing: 2px;
    white-space: nowrap;
}

th, td { padding: 1.6px 10px;}
th, td.address { background-color: #000051; color:white; }
td.hostname {background-color:#9090db;text-align: left;}

.output { 
    white-space: normal;
    text-align: left;
}

.subhosts { 
    margin: 2px;
    padding: 1px;
    font-size: 12px;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: black;
}

h2.title {
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 1.2em;
}

h3.title {
    text-align: left;
    font-weight: bold;
    padding: 10px 2px 0px 2px;
    font-size: 12px;
    color: black;
}

#content {
    height: 97.0%;
    margin: 10px;
    margin-top:2%;
}

#timer{
    color:black;
    text-align:right;
    font-size:45px;
    padding-right:10px;
    margin-top:-70px;
}

.section {
    color: black;
    font-weight: bold;
    overflow: auto;
    padding: 20px 2px 0px 2px;
    margin-top: 10px;
}

.subsection { font-size: 12px; }

.stats {
    float: right;
    margin-top: -2em;
}

.stat {
    display: inline;
    padding: 3px;
    margin-left: 10px;
}

div.state {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px 2px 3px 2px;
    padding: 3px;
}

.up { background-color: #96CD90; color:black; }
.ok { background-color: #96CD90; color:black; }
.warning { background-color: #BAE3F6; color:black; }
.critical, .down { background-color:  #e09db1; color:black; }
.pending { background-color: #488acf; display:none; }
.unknown { background-color: #DFF4FF; color:black; }
.notification { background-color: #69b3b3; }
.acknowledged { background-color: #d3d3d3; }
.unreachable { background-color: orange; }

.fortune {
    margin-top: 10px;
    color: black;
}

.statusFileState {
    color: black;
}

.top-left-header{
    text-align: left;
    color:black;
    padding-top:10px;
    padding-left:10px;
}

